@model TracNghiemLTK.Models.LoginModel
<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <div class="website-logo-inside">
                        <div class="logo">
                            <img class="logo-size" src="~/Content/build/images/logo-light.svg" alt="">
                        </div>
                    </div>
                    <h3>Online Examination System</h3>
                    <p>Access to the most powerfull testing tool in the web industry (or so).</p>
                    <div class="page-links">
                        <a href="" class="active">Student Login</a>
                    </div>
                    <div>
                        @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
                        {
                            <div class="alert alert-warning">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                @Html.ValidationSummary(true, "Errors: ")
                            </div>
                        }
                    </div>
                    <form>
                        <input class="form-control" type="text" name="username" placeholder="Student ID" required>
                        <input class="form-control" type="password" name="password" placeholder="Password" required>
                        <div class="form-button">
                            <button id="submit" formmethod="post" type="submit" class="ibtn">Login</button>
                        </div>
                    </form>
                    <div class="other-links">
                        <span>Or login with</span><a href="/Admin/Login">Admin account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
