@model TracNghiemLTK.Models.LoginModel
<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <div class="website-logo-inside">
                        <a href="index.html">
                            <div class="logo">
                                <img class="logo-size" src="~/Content/build/images/logo-light.svg" alt="">
                            </div>
                        </a>
                    </div>
                    <h3>Get more things done with Loggin platform.</h3>
                    <p>Access to the most powerfull tool in the entire design and web industry.</p>
                    <div class="page-links">
                        <a href="login10.html" class="active">Login</a><a href="register10.html">Register</a>
                    </div>
                    <div>
                        @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
                        {
                            <div class="alert alert-warning">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                @Html.ValidationSummary(true, "Errors: ")
                            </div>
                        }
                    </div>
                    <form>
                        <input class="form-control" type="text" name="username" placeholder="E-mail Address" required>
                        <input class="form-control" type="password" name="password" placeholder="Password" required>
                        <div class="form-button">
                            <button id="submit" formmethod="post" type="submit" class="ibtn">Login</button>
                        </div>
                    </form>
                    <div class="other-links">
                        <span>Or login with</span><a href="#">Facebook</a><a href="#">Google</a><a href="#">Linkedin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
