@model List<DataLTK.KetQua>
@{
    ViewBag.Title = "Kết quả học tập";
    Layout = "~/Areas/Contest/Views/Shared/_Layout.cshtml";
}

<div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Nhập từ khóa...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Kết quả học tập</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Cài đặt 1</a>
                            </li>
                            <li>
                                <a href="#">Cài đặt 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Mã đề</th>
                            <th>Môn thi</th>
                            <th>Ngày thi</th>
                            <th>Điểm</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.MaDe</td>
                                <td>@item.DeThi.MonThi.TenMon</td>
                                <td>@(item.NgayThi.HasValue ? item.NgayThi.Value.ToString("dd/MM/yyyy") : "Không có dữ liệu")</td>
                                <td><b>@item.Diem</b></td>
                            </tr>
}

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

