@model TracNghiemLTK.Areas.Admin.Models.AdminLoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Đăng nhập hệ thống </title>
    <!-- Bootstrap -->
    <link href="/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/Content/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="/Content/vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="/Content/build/css/custom.min.css" rel="stylesheet">
</head>
<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    @using (Html.BeginForm())
                    {
                        <h1>Đăng nhập</h1>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div>
                            @Html.TextBoxFor(model => model.Username, new { @type = "text", @class = "form-control", @placeholder = "Tên đăng nhập", @required = "" })
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.Password, new { @type = "password", @class = "form-control", @placeholder = "Mật khẩu", @required = "" })
                        </div>
                        <div>
                            <button class="btn btn-default submit">Đăng nhập</button>
                            <a class="reset_pass" href="#">Quên mật khẩu?</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                Không thể đăng nhập?
                                <a href="#signup" class="to_register"> báo lỗi </a>
                            </p>
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-paw"></i> Đinh Công Tân!</h1>
                                <p>©2016 All Rights Reserved. Hệ thống trắc nghiệm THPT Lý Thường Kiệt. Privacy and Terms</p>
                            </div>
                        </div>}
                </section>
            </div>
            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    <form>
                        <h1>Báo lỗi</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Tài khoản" required="" />
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Email" required="" />
                        </div>
                        <div>
                            <input type="text" class="form-control" placeholder="Nội dung" required="" />
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="index.html">Nộp đơn</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                Hủy báo lỗi ?
                                <a href="#signin" class="to_register"> Đăng nhập </a>
                            </p>
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-paw"></i> Đinh Công Tân!</h1>
                                <p>©2016 All Rights Reserved. Hệ thống trắc nghiệm THPT Lý Thường Kiệt. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>

</body>
</html>

