
@{ 
    var session = (TracNghiemLTK.Common.ManagerInfo)Session[TracNghiemLTK.Common.CommonConstantsManager.MANAGER_SESSION];
}

<ul class="nav navbar-nav navbar-right">
    <li class="">
        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="~/Content/images/img.jpg" alt="">@session.Username
            <span class=" fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li><a href="/Admin/Account/Details/@session.id"> Profile</a></li>
            <li>
                <a href="javascript:;">
                    <span class="badge bg-green pull-right">90%</span>
                    <span>Settings</span>
                </a>
            </li>
            <li><a href="/Help">Help</a></li>
            <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
        </ul>
    </li>
</ul>
